body {
    background-color: rgb(47, 47, 47);
}

header, 
section h2 {
    background-color: blueviolet;
    color: white;
}

.nav-link {
    color: white;
    text-align: center;
}

section h2 {
    text-align: center;
    padding: 16px;
}

.card-img-overlay{
    background-color: rgba(0, 0, 0, 0.7);
}

.cartao {
    margin-top: 20px;
    border-radius: 10px;
}